<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Halaman Utama Website SLB Al-Irsyad Bogor" />
    <meta name="author" content="Devsam" />
    <link rel="icon" href="/public/img/logo-alirsyad.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/public/ext/css/argon.css?v=1.2.0" type="text/css" />

    <link rel="stylesheet" href="/public/css/home.css" type="text/css" />
    <title>Halaman Tidak Ditemukan</title>
</head>

<body>
    <div class="vw-100 vh-100 bg-green d-flex justify-content-center align-items-center">
        <div class="bg-white rounded p-8 d-flex flex-column align-items-center">
            <h1 class="font-kaushan banner">Halaman Tidak <strong class="banner-title">Ditemukan</strong></h1>
            <a href="/" class="btn btn-success mt-4">Kembali Ke Halaman Utama</a>
        </div>
    </div>
</body>

</html>