<section class="py-4" style="margin-top: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto col-sm-6 text-center">
        <h1 class="text-capitalize font-kaushan banner">Ekstrakulikuler
          <strong class="banner-title">Kita</strong>
        </h1>
      </div>
      <div class="col-10 mx-auto">
        <p style="text-indent: 3rem;">Ekstrakurikuler adalah kegiatan
          non-pelajaran formal yang dilakukan peserta didik sekolah atau
          universitas, umumnya di luar jam belajar kurikulum standar.
          Kegiatan-kegiatan ini ada pada setiap jenjang pendidikan dari sekolah
          dasar sampai universitas. Kegiatan ekstrakurikuler ditujukan agar
          peserta didik dapat mengembangkan kepribadian, bakat, dan kemampuannya
          di berbagai bidang di luar bidang akademik. Kegiatan ini diadakan
          secara swadaya dari pihak sekolah maupun siswa-siswi itu sendiri untuk
          merintis kegiatan di luar jam pelajaran sekolah.</p>
        <p style="text-indent: 3rem;margin-top:1rem">Kegiatan dari
          ekstrakurikuler ini sendiri dapat berbentuk kegiatan pada seni,
          olahraga, pengembangan kepribadian, dan kegiatan lain yang bertujuan
          positif untuk kemajuan dari siswa-siswi itu sendiri.</p>
        <p style="text-indent: 3rem;margin-top:1rem">Sama halnya dengan
          ekstrakurikuler yang ada di SLB AL-IRSYAD AL_ISLAMIYYAH yang bertujuan
          untuk mengembangkan minat dan bakat siswa-siwinya. Berikut adalah
          jenis ekstrakurikuler yang terdapat di SLB AL-IRSYAD AL-ISLAMIYYAH
        </p>
      </div>
    </div>
    <div class="row" id="extra-container">

    </div>
  </div>
</section>
<script type="module" src="/public/js/user/ekstra.js"></script>