<section id="home" class="d-flex align-items-center position-relative vh-100 hero" {{!--
  style="background: url(/public/uploads/default-landing.jpg);" --}}>
  <div class="container container-max">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white text-center display-2 font-kaushan" id="main-title">SLB
          Al-Irsyad Al-Islamiyyah Bogor</h1>
        <div class="mt-3 d-flex flex-column align-items-center">
          <p class="text-white lead text-center" id="main-caption">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Delectus, recusandae!</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{! Section Ekstrakulikuler }}

<section id="post" class="post py-5">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto col-sm-6 text-center">
        <h1 class="text-capitalize font-kaushan banner">Berita
          <strong class="banner-title">Terbaru</strong>
        </h1>
      </div>
    </div>

    <div class="row extra-items" id="berita-container">

    </div>
  </div>
</section>
{{!-- MAP --}}
<section id="location" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto col-sm-6 text-center">
        <h1 class="text-capitalize font-kaushan banner">dimana
          <strong class="banner-title">kita</strong>
        </h1>
      </div>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1981.6450861193034!2d106.79423640058081!3d-6.610822015330035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c5eb305d8cf9%3A0xae6824fd57a2df45!2sJl.%20Sedane%20No.37%2C%20RT.01%2FRW.03%2C%20Empang%2C%20Kec.%20Bogor%20Sel.%2C%20Kota%20Bogor%2C%20Jawa%20Barat%2016132!5e0!3m2!1sid!2sid!4v1622863001037!5m2!1sid!2sid"
      class="map shadow-lg" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>

<section id="post" class="post py-5">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto col-sm-6 text-center">
        <h1 class="text-capitalize font-kaushan banner">Artikel
          <strong class="banner-title">Terbaru</strong>
        </h1>
      </div>
    </div>

    <div class="row extra-items" id="artikel-container">

    </div>
  </div>

</section>
<script type="module" src="/public/js/user/home.js"></script>