<section id="artikel" class="py-4" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto col-sm-6 text-center">
                <h1 class="text-capitalize font-kaushan banner">Prestasi
                    <strong class="banner-title">Kita</strong>
                </h1>
            </div>
        </div>
        <section class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col-10 mx-auto py-4">
                            <ul class="list-group" id="prestasi-container">

                            </ul>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-success my-4 mx-auto" id="btn-load-prestasi">Muat Prestasi
                                Lainnya</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<script type="module" src="/public/js/user/prestasi.js"></script>