<section id="location" class="py-4" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto col-sm-6 text-center">
                <h1 class="text-capitalize font-kaushan banner">Visi
                    <strong class="banner-title">&</strong> Misi
                </h1>
            </div>
        </div>
      {{{data}}}
    </div>
</section>
<script>

    document.querySelector("#profil-nav").classList.add("active-link");
</script>